{
    "parser": "babel-eslint",
    "extends": "react",
    "env": {
      "browser": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "semi": ["warn", "always"],
      "quotes": ["warn", "double"],
      "indent": ["warn",2],
      "space-before-function-paren": ["error", "never"]
    }
  }